#sidebar-menu ul li i {
    font-size: 25px;
    margin-right: 7.2px;
}

#sidebar-menu ul li {
    text-wrap: nowrap;
    width: 2.9rem;
}

#sidebar-menu ul:hover {
    width: 12.5rem;
    font-size: 17px;
    transition: all ease 0.10s;
}