main #background {
    width: 100rem;
    pointer-events: none;
    position: fixed;
}

#login {
    width: 25em;
    margin-right: 3%;
}

#login img {
    width: 70%;
}

#login form {
    padding: 5% 15%;
}

@media screen and (max-width: 420px) {
    #login form {
        margin-left: 3rem;
    }
}